source 'https://rubygems.org'
#source 'http://production.cf.rubygems.org'

gem 'rake'

group 'development' do
  gem 'pre-commit'
  gem 'pry'
  gem 'pry-doc'
end

group 'test' do
  gem 'minitest'
end

